<div class = "middle-container well">
	<h2>Disclaimer: </h2>
	<p>The Fruit-O-Matic 5000 is still heavily under construction, meaning that you'll have to 
		be a little patient with it; it's a very delicate machine, with engineering accomplishments
	that blow away even the finest groomed NASA engineers</p>
	</br>
	<div id="sketchHolder">
		<input id="SaveButton" value="save" type="button">
	</div>
</div>