<div class = "middle-container well">
	<h2>Disclaimer: </h2>
	<p>The Food-O-Matic 5000 is still heavily under construction, meaning that you'll have to 
		be a little patient with it; it's a very delicate machine, with engineering accomplishments
	that blow away even the finest groomed NASA engineers</p>
	</br>
	<div id="sketchHolder">
	</div>
	<div style = "text-align: center; margin: auto;"><input id="SaveButton" value="Save" type="button"></div>
</div>