<div class = 'well middle-container' style = "height: 500px">
	<h1>Gallery!</h1>
	<div id="gallery-holder">
		{{#each food}}
		<div class = "food-holder">
			<div class = "food" style = "background-image: url(/img/game/{{foodType}}.png)">
			</div>
		</div>
		{{/each}}
	</div> 
</div>