<div class = 'row'>
	<div class = 'col-md-4 home'>
		<h2>Home</h2>
		<p>Welcome to the under construction website of FoodFace Industries.
			We are very pleased to bring our newest product into your homes
			and into your hearts!  Our last piece of art was loved and respected
			by many, but we hope that this iteration is enough to make your heart
			feel so loved and cherished that you go into cardiac arrest.
		</p>
	</div>
	<div class = 'col-md-4 home'>
		<h2>Our Mission</h2>
		<p>Here at FoodFace Industries, our goal is simple; we make your food
		more relatable, loveable, and delectable.</p>
		<p>We used to put the faces on the food for you, but now; now...we'll be
			introducing the technology that allowed us to create some of your
			most beloved memories right to the public, for absolutely no charge!
		</p>
		<p>That's right; with our patented, state of the art Fruit-O-Matic 5000,
			you'll be able to give not only your fruits, but your veggies, cakes, and
		whatever the heck else you eat new personality!</p>
	</div>
	<div class='col-md-4 home'>
		<h2>Good Things Take Time</h2>
		<p>But for something this magical, we here at FoodFace Industries knew that we
		couldn't rush genius.</p>
		<p>As of right now, the Fruit-O-Matic 5000 is being fine tuned until it can
			reach you, your grandmother, and everyone in your entire family
			to touch their fragile hearts.
		</p>
	</div>
</div>