<!DOCTYPE html>
<html>
	<head>
		<title>FoodFace Industries</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/base.css" type="text/css">
	</head>

	<body>
		<div class = "jumbotron head">
			<h1>FoodFace Industries</h1>
		</div>
		{{{body}}}
	</body>
</html>