<div class = "middle-container well" style="height: 500px; width: 60%;">
	<h1>Sign in with Google to make the Magic Happen!</h1>
</br>
	<div class="button-holder"><div class="g-signin2" data-onsuccess="onSignIn"></div></div>
</div>
