<div class = "middle-container well" style="width: 60%;">
	<h1>Sign in with Google to make the Magic Happen!</h1>
</br>
	{{#if user}}
		<div class = "text-holder"><p>You're already signed in {{user.displayName}}!</p></div>
	{{else}}
	<div class="button-holder"><a href="/auth/google"><div class = "btn-primary">Sign in with Google</div></a></div>
	{{/if}}
</div>
