.head{
	background-color: #B5FEFF;
	color: #333333;
	height: 300px;
}
.text{
	text-align: center;
	margin: auto;
}
.home{
	text-align: center;
}
body{
	color:#333333;
}
.testimonial{
	background-color: #EBFFFF;
	color: #333333;
}
#testimonial-name{
	width: 30%;
	height: 30px;
	font-size: 20px;
}
#testimonial-title{
	width: 30%;
	height: 30px;
	font-size: 20px;
}
#testimonial-body{
	width: 80%;
	height: 60px;
	font-size: 15px;
}
footer{
	margin: auto;
	text-align: center;
}
.main{
	width: 100%;
}
.middle-container{
	background-color: #EBFFFF;
	margin: auto;
	text-align: center;
	overflow: auto;
}
.right{
	float: right;
}
#sketchHolder{
	text-align: center;
	margin: auto;
}
.food-holder{
	height: 275px;
	width: 275px;
	float: left;
	text-align: center;
}
.food{
	margin: auto;
	height: 250px;
	width: 250px;
	background-size: cover;
	position: relative;
}
#SaveButton{

}
#ToggleFruitButton{

}
.button-holder{
	margin: auto;
	text-align: center;
	height: 200px;
	width: 200px;
}
.accessory-holder{
	position: absolute;
}
.eye{
	background-size: cover;
	width: 25px;
	width: 25px;
}
.mouth{
	background-size: cover;
	width: 50px;
	height: 25px;
}