.head{
	background-color: #C0FFEE;
	color: #333333;
	height: 300px;
}
.text{
	text-align: center;
	margin: auto;
}
.home{
	text-align: center;
}
body{
	color:#333333;
}
.testimonial{
	background-color: #EBFFFF;
	color: #333333;
}